:root {
  --primary: #6347bd;
  --secondary: #629bab;
  --third: #e8d5b5;
  --beige: hsl(16, 15%, 80%);
  --text: hsl(0, 0%, 35%);
  --cv-black: #282524;
  --cv-text: hsl(0, 0%, 35%);
  --soft-text: hsl(0, 0%, 45%);
  --subtle-text: #a6a6a6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: hsl(0, 0%, 92%);
  font-family: 'Open Sans Reg', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

p,
a,
input,
textarea,
label,
button,
li,
h1,
h2 {
  color: var(--text);
}

.icon {
  display: block;
  background-size: contain;
}

@font-face {
  font-family: 'Open Sans Reg';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/OpenSans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans Med';
  src: url('../fonts/OpenSans/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}
