/*General*/

.cv-heading {
  margin-bottom: 24px !important;
  color: var(--cv-black) !important;
  font-family: 'Raleway Med', Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-size: 18px;
  letter-spacing: 3px;
}

/*Header*/

.view-mode-container {
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px auto auto;
  grid-template-areas:
    'header header header'
    'personal profile profile'
    'skills profile profile'
    'education experience experience';
  box-shadow: rgba(17, 12, 46, 0.1) 0px 48px 100px 0px;
  margin: 0 auto;
  font-family: 'Raleway Reg', Arial, Helvetica, sans-serif;
}

.view-mode-container p {
  color: var(--cv-text);
  line-height: 1.3em;
  margin-bottom: 16px;
}

.view-mode-container p:last-child {
  margin-bottom: 0;
}

.cv-header {
  position: relative;
  grid-area: header;

  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
}

.header-title p {
  color: var(--cv-black);
  margin-bottom: 0;
}

.header-title span {
  display: inline;
  font-family: 'Raleway Semi Bold', Arial, Helvetica, sans-serif;
}

.prof-title {
  color: var(--cv-black) !important;
  font-family: 'Raleway Reg', Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
  letter-spacing: 2px;
}

.photo {
  z-index: 2;
  max-width: 136px;
  max-height: 136px;
  width: 100%;
  height: 100%;
  border: solid 2px #fff;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transform: translateY(10%);
}

/*Shape Divider*/

.shape-divider {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0px;
  overflow: hidden;
  line-height: 0;
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 100%;
  transform: rotateY(180deg);
}

.shape-divider .shape-fill {
  fill: #d3c8c4;
}

/*Personal Info*/

.personal-section {
  grid-area: personal;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.info-row:last-child {
  margin-bottom: 0;
}

.personal-section .icon {
  width: 32px;
  height: 32px;
}

.icon.location {
  background-image: url('../icons/location.svg');
}

.icon.call {
  background-image: url('../icons/call.svg');
}

.icon.email {
  background-image: url('../icons/email.svg');
}

/*Profile*/

.profile-section {
  grid-area: profile;
  margin-top: -56px;
  padding: 96px 32px 32px;
}

/*Education Section*/

.education-section {
  grid-area: education;
  padding: 48px 32px 32px;
}

.education-section > div {
  position: relative;
  padding-bottom: 32px;
  padding-left: 32px;
  border-left: solid 1px var(--cv-black);
}

.education-section > div:last-child {
  padding-bottom: 0;
}

.cv-bullet {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(5px);
  background-color: var(--cv-black);
}

.cv-bullet:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  display: block;
  width: 4px;
  height: 8px;
  background-color: #fff;
  content: '';
}

.cv-bullet:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  display: block;
  width: 4px;
  height: 8px;
  background-color: #fff;
  content: '';
}

.education-section p {
  margin-bottom: 4px;
}

.cv-sub-heading {
  color: var(--cv-black);
  font-family: 'Open Sans Med', Arial, Helvetica, sans-serif;
}

.cv-sub-heading.lighter {
  color: var(--soft-text);
  font-size: 14px;
}

.experience-section {
  grid-area: experience;
  padding: 48px 32px 32px;
}

.experience-section > div {
  margin-bottom: 32px;
}

.experience-section > div:last-child {
  margin-bottom: 0;
}

.job-info {
  display: flex;
  justify-content: space-between;
}

.job-info p {
  margin-bottom: 0;
}

/*Fonts*/

@font-face {
  font-family: 'Raleway Reg';
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway Med';
  src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway Semi Bold';
  src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}
